#img-bg{
  background-image: url('https://1.bp.blogspot.com/-joer_1HTRag/UEU1FIyVoXI/AAAAAAAAAtU/L-rR2eYXcyA/s1600/liberdade_paraiso.jpg');

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
