#img-bg{
  background-image: url('https://scontent.fgru4-1.fna.fbcdn.net/v/t1.6435-9/53918300_1959596700835951_1658187023585902592_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=rDnIiIOTYFoAX83aESZ&_nc_ht=scontent.fgru4-1.fna&oh=00_AT81hgJ1_lRCxzM3y5cVAqsPP6fIoCiylNHFLxHWShpWGg&oe=626E6F20');

 height:100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}